<h1>Ready for adoption</h1>
<div class="container">
  <% @animals.each do |animal| %>
  <div class="content">
    <p>Name: <%= animal.name() %> </p>
    <p>Type: <%= animal.type() %> </p>
    <p>Breed: <%= animal.breed() %> </p>
    <p>Admission date: <%= animal.admission_date() %> </p>

    <button onclick="location.href='/shelter/animals/<%= animal.id %>/edit'" type="button">Edit</button>

    <form class="animalform" method="post" action="/shelter/animals/<%= animal.id %>/delete">
      <input type="submit" value="Delete Animal"/>
    </form>
  </div>
  <% end %>
</div>
