<h1>All animals</h1>

<% @animals.each do |animal| %>
  <p>Name: <%= animal.name() %> </p>
  <p>ID number: <%= animal.id %></p>
  <p>Type: <%= animal.type() %> </p>
  <p>Breed: <%= animal.breed %> </p>
  <p>Admission date: <%= animal.admission_date %> </p>
  <p>Owner ID: <%= animal.owner_id %></p>
  <p>Ready for adoption: <%= animal.adoption_ready %> </p>

  <button onclick="location.href='/shelter/animal/<%= animal.id %>/edit'" type="button">Edit</button>
  <hr>
<% end %>
