<h1>All owners</h1>

<% @owners.each do |owner| %>
  <div class="animal">
  <p>First name: <%= owner.first_name() %> </p>
  <p>Last name: <%= owner.last_name() %> </p>
  <p>Owner id: <%= owner.id() %></p>
  <p>Animals adopted: <%= owner.animals.each do |animal|
  animal.name end %></p>

  <button onclick="location.href='/shelter/owner/<%= owner.id %>/edit'" type="button">Edit</button>

  <form method="post" action="/shelter/owner/<%= owner.id %>/delete">
    <input type="submit" value="Delete Owner"/>
  </form>

  </div>
<% end %>
