<h1>All owners</h1>
<div class="centered">
  <% @owners.each do |owner| %>
  <div class="animal">
    <p>First name: <%= owner.first_name() %> </p>
    <p>Last name: <%= owner.last_name() %> </p>
    <p>Animals adopted: <ul>
      <% owner.animals.each do |animal| %>
      <li><%= animal.name %></li>
      <% end %>
    </ul></p>

    <button onclick="location.href='/shelter/owner/<%= owner.id %>/edit'" type="button">Edit</button>

    <form method="post" action="/shelter/owner/<%= owner.id %>/delete">
      <input type="submit" value="Delete Owner"/>
    </form>

  </div>
  <% end %>
</div>
